<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん結果</title>
</head>
<body>
    <h1>じゃんけんの結果</h1>
    <p>あなたの手: <%= your %></p>
    <p>CPUの手: <%= cpu %></p>
    <p>結果: <%= judgement %></p>
    <p>勝ち数: <%= win %> 回</p>
    <p>総試合数: <%= total %> 回</p>

    <a href="/">もう一度プレイ</a>
</body>
</html>

